<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= @users.each do |user| end %>

<% if user_signed_in? %>
    <%= current_user.email %>
<% end %>

<li class="nav-item">
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
</li>
