<h1>Instructions</h1>
<br/>

<h3>SQL Injection</h3>
Director IDs:
<ul>
    <li>Steven Spielberg: 1</li>
    <li>Martin Scorsese: 2</li>
    <li>Quentin Tarantino: 3</li>
    <li>Francis Ford Coppola: 4</li>
</ul>

Follow the instructions above the query search bar

<br/>
<br/>
<br/>

<h3>Cross Site Request Forgery</h3>
Accounts:
<ul>
    <li>ivica.ivic@gmail.com</li>
    <li>marica.maric@gmail.com</li>
    <li>jurica.juric@gmail.com</li>
    <li>vjekoslav.vjekic@gmail.com</li>
</ul>

Password: password
<br/>
First, sign in to an account of your choosing. This example is setup that the attacker mallory@attacker.com is trying
to transfer funds from the signed in user to their account via CSRF.

<br/>