<h1>Instructions</h1>
<br/>

<h3>SQL Injection</h3>
Director IDs:
<div>Steven Spielberg: 1</div>
<div>Martin Scorsese: 2</div>
<div>Quentin Tarantino: 3</div>
<div>Francis Ford Coppola: 4</div>

<br/>

<h3>CSRF</h3>
Director IDs:
